html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  color: #333333;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  height: 170px;
  color: white;
  font-size: 42px;
}

td {
  width: 170px;
  padding: 0;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

td img {
  display: none;
  padding-top: 20px;
}

table tr:nth-child(1) td:nth-child(1) {
  background: #ef201d url('../assets/number-1.png') center/100px no-repeat;
}

table tr:nth-child(1) td:nth-child(2) {
  background: #53e6ff url('../assets/number-2.png') center/100px no-repeat;
}

table tr:nth-child(1) td:nth-child(3) {
  background: #ff9800 url('../assets/number-3.png') center/100px no-repeat;
}

table tr:nth-child(2) td:nth-child(1) {
  background: #41d72b url('../assets/number-4.png') center/100px no-repeat;
}

table tr:nth-child(2) td:nth-child(2) {
  background: #fcf138 url('../assets/number-5.png') center/100px no-repeat;
}

table tr:nth-child(2) td:nth-child(3) {
  background: #680ae4 url('../assets/number-6.png') center/100px no-repeat;
}

table tr:nth-child(3) td:nth-child(1) {
  background: #f32cf9 url('../assets/number-7.png') center/100px no-repeat;
}

table tr:nth-child(3) td:nth-child(2) {
  background: #795548 url('../assets/number-8.png') center/100px no-repeat;
}

table tr:nth-child(3) td:nth-child(3) {
  background: #1d0efc url('../assets/number-9.png') center/100px no-repeat;
}

form {
  margin-bottom: 30px;
  text-align: center;
}

form .label {
  font-size: 20px;
  margin-bottom: 20px;
}

form input {
  margin: 0 20px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  width: 100px;
  outline: none;
}

form input:focus {
  border: 2px solid #11416c;
  border-radius: 2px;
}

form input[type='submit'] {
  margin: 20px 0 0 0;
  cursor: pointer;
  border-color: transparent;
  width: 100px;
  height: 50px;
  font-size: 18px;
  color: white;
  background-color: #11416c;
  border-radius: 8px;
}

form input[type='submit']:hover {
  opacity: 0.8;
}

#numInput {
  width: 200px;
  text-align: center;
}

.congrats {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7) url('../assets/unlock.png') no-repeat
    center/300px;
}

.cover_none {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.congrats-text {
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  background: url('../assets/congrats.png') no-repeat center/700px;
}

.congrats-image {
  width: 100%;
  height: 300px;
  background: url('../assets/unlock.png') no-repeat center/300px;
  text-align: center;
}

.congrats-image img {
  height: 100%;
  border-radius: 300px;
}

.wrong-text {
  width: 100%;
  height: 150px;
  font-size: 80px;
  color: #eebe2b;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 1px white;
}

.wrong-image {
  width: 300px;
  height: 300px;
  background: #f3f2f2 url('../assets/lock.png') no-repeat 60% center/200px;
  text-align: center;
  border-radius: 300px;
}
