html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  color: #333333;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 600px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  height: 200px;
  color: white;
  font-size: 42px;
}

td {
  width: 200px;
  padding: 0;
  border: none;
}

table tr:nth-child(1) td:nth-child(1) {
  background-color: #ef201d;
}

table tr:nth-child(1) td:nth-child(2) {
  background-color: #53e6ff;
}

table tr:nth-child(1) td:nth-child(3) {
  background-color: #ff9800;
}

table tr:nth-child(2) td:nth-child(1) {
  background-color: #41d72b;
}

table tr:nth-child(2) td:nth-child(2) {
  background-color: #fcf138;
}

table tr:nth-child(2) td:nth-child(3) {
  background-color: #680ae4;
}

table tr:nth-child(3) td:nth-child(1) {
  background-color: #f32cf9;
}

table tr:nth-child(3) td:nth-child(2) {
  background-color: #795548;
}

table tr:nth-child(3) td:nth-child(3) {
  background-color: #1d0efc;
}

form {
  margin-bottom: 30px;
  text-align: center;
}

form .label {
  font-size: 20px;
  margin-bottom: 20px;
}

form input {
  margin: 0 20px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  width: 100px;
  outline: none;
}

form input:focus {
  border: 2px solid #11416c;
  border-radius: 2px;
}

form input[type='submit'] {
  margin: 20px 0 0 0;
  cursor: pointer;
  border-color: transparent;
  width: 100px;
  height: 50px;
  font-size: 18px;
  color: white;
  background-color: #11416c;
  border-radius: 8px;
}

form input[type='submit']:hover {
  opacity: 0.8;
}

#numInput {
  width: 200px;
  text-align: center;
}
